:root {
  --color-amarillo: #EAC926;
  --color-azul: #03264C;
  --color-celeste: #1259c3;
  --color-gris-oscuro: #666;
  --color-gris-claro: #ebebeb;
  --color-verde: #39b54a;
  --color-negro: #000;
  --color-blanco: #fff;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: var(--color-gris-claro);
}

header {
    background-color: var(--color-amarillo);
}
